:root{
    --main-color: #ff0;
    --light-white: rgba(255,255,255,.5);
    --light-black: rgba(0,0,0,.3);
    --light-bg: rgba(255,255,255,.1);
    --white: #fff;
    --black: #000;
}

.outer-box{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-box img{
    width: 10rem;
    margin-bottom: 1rem;
}

.maintenance-container{
    padding: 1rem;
    background: var(--light-bg);
    backdrop-filter: blur(.4rem);
    text-align: center;
    border-radius: 15px;
    border: 1px solid #fff;
    color: #fff;
}

@media(max-width: 768px){
    .maintenance{
        width: 8rem;
    }
}

@media(max-width: 500px){
    .maintenance{
        width: 6rem;
    }
}

/* ============================== */
/* profile page */
.profile-page{
    margin-top: 6rem;
}
.profile-box{
    background: var(--light-bg);
    backdrop-filter: blur(.4rem);
    border-radius: 15px;
    border: 1px solid #fff;
}
.profile-box .heading{
    padding: 1rem;
    color: #fff;
    line-height: 2;
}
.profile-pic{
    width: 12rem;
}
.profile-info{
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
}
.profile-box .heading span{
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
}
.profile-box .heading p{
    font-size: 1.5rem;
    font-weight: 500;
}
.profile-box .heading hr{
    color: #fff;
    border: 1px solid #fff;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.options .option{
    background: #81dbff;
    width: 60%;
    border: 2px solid #000;
    padding: .5rem;
    margin: .5rem;
    border-radius: 8px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
    transition: .2s;
}
.options .option:hover{
    transform: scale(0.9);
    transition: .2s;
    cursor: pointer;
}

.modal{
    backdrop-filter: blur(.4rem);
}
.modal-content{
    background: var(--light-bg);
    backdrop-filter: blur(.4rem);
    border-radius: 15px;
    border: 1px solid #fff;
}
.modal-title{
    color: #fff;
}
.modal-body input{
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    background: var(--light-black);
    backdrop-filter: blur(.4rem);
    border-bottom: 1px solid #fff;
    border-radius: 10px;
    padding: 0.8rem;
}
.modal-body label{
    color: #fff;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.password-modal{
    display: flex;
}
.password-modal .icon-eye{
    cursor: pointer;
    text-align: right;
    display: flex;
    align-items: center;
    margin-left: -3rem;
    z-index: 1;
}
#hide1, #hide3{
    display: none;
}





@media(max-width: 1325px){
    .profile-pic{
        width: 10rem;
    }
    .profile-box .heading span{
        font-size: 2rem;
    }
    .profile-box .heading p{
        font-size: 1rem;
    }
}

@media(max-width: 900px){
    .options .option{
        font-size: 1rem;
    }
}

@media(max-width: 768px){
    .profile-pic{
        width: 8rem;
    }
    .profile-box .heading span{
        font-size: 1.5rem;
    }
    .profile-box .heading p{
        font-size: 0.8rem;
    }
}
@media(max-width: 400px){
    .profile-info{
        padding-top: 0;
        line-height: 1.5;
    }
    .profile-pic{
        width: 5rem;
    }
}